.pill{
    background-color: #D9D9D9;
    color: #7C7C7C;
    display: inline-block;
    padding: 0 1rem;  
    border-radius: 15px;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    white-space: nowrap;
    max-width: 100%;
}

.pill-active{
    background-color: #579076;
    color: white;
}